<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="sistema fotovoltaicos" />
<meta name="keywords" content="tenergy, sfvi, sistema fotovoltaicos, paneles" />
<meta name="author" content="Tenergy MX" />
<link rel="icon" sizes="512x512" href="<?php echo RUTA_URL; ?>img/icons/regular/icon-512x512.png" />
<!-- fonts -->
<link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
    rel="stylesheet"
/>
<link href="https://fonts.cdnfonts.com/css/product-sans-infanity" rel="stylesheet" />
<link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet" />
<!-- font Icons -->
<link rel="stylesheet" href="<?php echo RUTA_URL; ?>fonts/fontawesome/css/all.css" />
<link rel="stylesheet" href="<?php echo RUTA_URL; ?>fonts/fontawesome/css/sharp-thin.css" />
<link rel="stylesheet" href="<?php echo RUTA_URL; ?>fonts/fontawesome/css/sharp-solid.css" />
<link rel="stylesheet" href="<?php echo RUTA_URL; ?>fonts/fontawesome/css/sharp-regular.css" />
<link rel="stylesheet" href="<?php echo RUTA_URL; ?>fonts/fontawesome/css/sharp-light.css" />
<!-- CSS datatable -->
<link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
<!-- styles: bootstrap -->
<link rel="stylesheet" href="<?php echo RUTA_URL; ?>css/light.css" class="js-stylesheet" />
<!-- CSS sweetalert -->
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    id="theme-styles"
/>
<!-- apexcharts  -->
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.44.0/apexcharts.min.css"
    integrity="sha512-nnNXPeQKvNOEUd+TrFbofWwHT0ezcZiFU5E/Lv2+JlZCQwQ/ACM33FxPoQ6ZEFNnERrTho8lF0MCEH9DBZ/wWw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
/>

<link rel="stylesheet" href="<?php echo RUTA_URL;?>css/custom.css" />
<!-- jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="<?php echo RUTA_URL; ?>js/config.js"></script>
