<!-- bootstrap -->
<script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"
></script>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"
></script>
<!-- API Google maps -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBp0a5vAFYmnKYbenH4s6mJa0Sjb3CaoBo&callback=Function.prototype"></script>
<!-- datatable -->
<script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<!-- sweetalert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- apexcharts  -->
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.44.0/apexcharts.min.js"
    integrity="sha512-9ktqS1nS/L6/PPv4S4FdD2+guYGmKF+5DzxRKYkS/fV5gR0tXoDaLqqQ6V93NlTj6ITsanjwVWZ3xe6YkObIQQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
></script>
<!-- scripts personalizados -->
<script src="<?php echo RUTA_URL; ?>js/main.js" async></script>
<script src="<?php echo RUTA_URL; ?>js/sfvi.js"></script>
