<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="<?php echo RUTA_URL; ?>">
            <span class="sidebar-brand-text align-middle" style="font-size: 25px;">
                <?php echo NAME_SITE; ?>
                <sup><small class="badge bg-primary text-uppercase"></small></sup>
            </span>
            <svg
                class="sidebar-brand-icon align-middle"
                width="32px"
                height="32px"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#FFFFFF"
                stroke-width="1.5"
                stroke-linecap="square"
                stroke-linejoin="miter"
                color="#FFFFFF"
                style="margin-left: -3px"
            >
                <path d="M12 4L20 8.00004L12 12L4 8.00004L12 4Z"></path>
                <path d="M20 12L12 16L4 12"></path>
                <path d="M20 16L12 20L4 16"></path>
            </svg>
        </a>
        <div class="sidebar-user d-none"></div>
        <ul class="sidebar-nav">
            <li class="sidebar-header pt-1">Opciones</li>
            <li class="sidebar-item <?= ($datos['sidebar-item'] == 'dashboard') ? 'active' : ''; ?>">
                <a class="sidebar-link" href="<?php echo RUTA_URL; ?>">
                    <i class="fa-solid fa-chart-tree-map"></i>
                    <span class="align-middle" > Dashboard</span>
                </a>
            </li>
            <?php if ($datos['user']['role'] <= 2) : ?>
            <li class="sidebar-item <?= ($datos['sidebar-item'] == 'usuarios') ? 'active' : ''; ?>">
                <a class="sidebar-link" href="<?php echo RUTA_URL; ?>User/table/">
                    <i class="fa-regular fa-users"></i>
                     <span class="align-middle" >Usuarios</span>
                </a>
            </li>
            <li class="sidebar-item <?= ($datos['sidebar-item'] == 'clientes') ? 'active' : ''; ?>" >
                <a
                    class="sidebar-link"
                    href="<?php echo RUTA_URL; ?>Client/ver_clientes/"
                >
                    <i class="fa-solid fa-user-group-simple"></i> 
                    <span class="align-middle" >Clientes
            <?php endif; ?>
            
            <li class="sidebar-item <?= ($datos['sidebar-item'] == 'visitas') ? 'active' : ''; ?>">
                <a class="sidebar-link" href="<?php echo RUTA_URL; ?>Visit/">
                    <i class="fa-solid fa-house-person-return"></i>
                     <span class="align-middle">Visitas</span>
                </a>
            </li>
            <li class="sidebar-item <?= ($datos['sidebar-item'] == 'proyectos') ? 'active' : ''; ?>">
                <a class="sidebar-link" href="<?php echo RUTA_URL; ?>Project/">
                    <i class="fa-duotone fa-solar-panel"></i>
                    <span class="align-middle" >Proyectos</span>
                </a>
            </li>
            <li
                class="sidebar-item sidebar-item-toggle <?= ($datos['sidebar-item'] == 'documentos') ? 'active' : ''; ?>"
            >
                <a class="sidebar-link" href="<?php echo RUTA_URL; ?>Document/">
                    <i class="fa-solid fa-folder icon-desactive"></i>
                    <i class="fa-solid fa-folder-open icon-active"></i>
                    Documentos
                </a>
            </li>
        </ul>
    </div>
</nav>
