html,
body {
    font-family: "Product Sans Infanity", sans-serif;
}

table tr,
table td {
    font-family: "SF Pro Display", sans-serif;
    font-size: 14px;
}

.sidebar-item.active > .sidebar-link {
    background: linear-gradient(
        90deg,
        rgba(255, 144, 11, 0.1),
        rgba(255, 144, 11, 0.088) 50%,
        transparent
    );
    border-left-color: #ff900b;
}

.sidebar-item-toggle > .sidebar-link i {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.sidebar-item-toggle > .sidebar-link i.icon-desactive {
    display: initial;
}

.sidebar-item-toggle.active > .sidebar-link i.icon-active {
    display: initial;
}

.sidebar-item-toggle.active > .sidebar-link i.icon-desactive,
.sidebar-item-toggle > .sidebar-link i.icon-active {
    display: none;
}

.modal > * {
    font-family: "SF Pro Display", sans-serif;
}

table.table-center thead th,
table.table-center thead td,
table.table-center tbody th,
table.table-center tbody td,
table.table-center tfoot th,
table.table-center tfoot td {
    text-align: center;
    vertical-align: middle;
}

.card-body .container-map {
    padding: 0px;
    margin: 0 calc(var(--bs-card-spacer-y) * -1);
}

.container-map .map {
    width: 100%;
    height: 60vh;
    min-height: 202px;
    background-color: #ccc;
    border-radius: 0px;
}

/* pasos */
.step-wizard-list {
    color: var(--bs-heading-color);
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    position: relative;
    z-index: 10;
}

.step-wizard-item {
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 80px;
    position: relative;
}

.step-wizard-item + .step-wizard-item:after {
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    background: #b0ecff;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index: -10;
}
.progress-count {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    color: transparent;
}

button.progress-count {
    border: none;
    background-color: transparent;
}

.step-wizard-list .progress-count:after {
    content: "";
    height: 40px;
    width: 40px;
    background: #21d4fd;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
}
.step-wizard-list .progress-count:before {
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
}
.step-wizard-list .current-item .progress-count:before,
.step-wizard-list .current-item ~ .step-wizard-item .progress-count:before {
    display: none;
}
.step-wizard-list .current-item ~ .step-wizard-item .progress-count:after {
    height: 10px;
    width: 10px;
}
.step-wizard-list .current-item ~ .step-wizard-item .progress-label {
    opacity: 0.5;
}
.step-wizard-list .current-item .progress-count:after {
    background: #fff;
    border: 2px solid #21d4fd;
}
.step-wizard-list .current-item .progress-count {
    color: #21d4fd;
}

.step-wizard-list .container-progress-bar {
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    transform: translateX(50%);
}

.step-wizard-list .container-progress-bar .progress {
    overflow: visible;
    height: 4px;
    background-color: transparent;
}

.step-wizard-list .container-progress-bar .progress .progress-bar {
    background-color: #21d4fd;
}

.step-wizard-list .container-progress-bar .progress i {
    margin-top: -2px;
    margin-left: -4px;
    margin-right: -2px;
    color: #21d4fd;
}

/* botones de navegacion */
.btn-back,
.btn-next {
    height: auto;
    background-color: #21d4fd;
    border: transparent;
}

@media (min-width: 576px) {
    .container-map .map {
        border-radius: 0.6rem;
    }
}

@media (min-width: 768px) {
    .card-body .container-map {
        margin: 0;
    }

    .container-map .map {
        height: 33.33vh;
        border-radius: 0.8rem;
    }

    .container-stage-nav {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin-left: -3rem;
        margin-right: -3rem;
        width: calc(100% + 6rem);
    }

    .container-stage-nav .btn-back,
    .container-stage-nav .btn-next {
        width: 42px;
        height: 42px;
        border-radius: 50%;
    }
}

@media (min-width: 992px) {
    .container-map .map {
        height: 38vh;
    }
}

@media (min-width: 1200px) {
    .container-map .map {
        height: 42vh;
    }
}

@media (min-width: 1400px) {
}

/* -----------------checkbox--------------- */
.body {
    background-color: #f1f2f3;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.container {
    margin: 0 auto;
}

.round {
    position: relative;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background-color: #359e3f;
    border-color: #359e3f;
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.round input[type="checkbox1"]:checked + label:after {
    opacity: 1;
}

.round input[type="checkbox2"]:checked + label:after {
    opacity: 1;
}

.icon-checkbox {
    position: absolute;
    top: 50%;
    right: 35px;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-checkbox i {
    visibility: hidden;
    font-size: 20px;
    color: #359e3f;
}
.icon-checkbox.active i,
.icon-checkbox.checked i {
    visibility: initial;
}
