<div class="modal fade" id="mdl_crud_proyect" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">PROYECTO</h1>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <input name="id" class="form-control" hidden />
                    <!-- hidden es para ocultar -->
                    <div style="display: inline-block; margin: 8px">
                        <div class="mb-3">
                            <label for="" class="form-label"> Tipo de venta </label>
                            <select name="folio" id="" class="form-select" required>
                                <option value="" selected disabled>
                                    Seleccione el tipo de venta
                                </option>
                                <option value="1">Domestico</option>
                                <option value="3">Comercial</option>
                                <option value="4">Indutrial</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"> Tipo de proyecto </label>
                            <select name="tipo" id="" class="form-select" required>
                                <option value="" selected disabled>
                                    Seleccione el tipo de proyecto
                                </option>
                                <option value="1">Domestico</option>
                                <option value="3">Comercial</option>
                                <option value="4">Indutrial</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"> Cliente </label>
                            <select
                                name="id_client"
                                id=""
                                class="form-select"
                                placeholder="Nombre de visitante"
                                required
                            >
                                <option value="" selected disabled>
                                    Seleccione el cliente
                                </option>
                                <?php foreach($datos['nombre_clientes'] as $key =>
                                $data) : ?>
                                <option value="">
                                    <?php echo "{$data->name} {$data->surnames}" ?>
                                </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"> Cotización </label>
                            <input
                                type="text"
                                class="form-control"
                                name="quotation"
                                aria-describedby="quotation"
                                placeholder="Cotización"
                                required
                            />
                        </div>

                        <div class="mb-3">
                            <label for="" class="form-label">
                                No. de cotización de proyecto
                            </label>
                            <input
                                type="number"
                                class="form-control"
                                name="quotation_num"
                                aria-describedby="quotation_num"
                                placeholder="No. de cotización de proyecto (Opcional)"
                                required
                            />
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"> Id de FIDE </label>
                            <input
                                type="number"
                                class="form-control"
                                name="id_fide"
                                aria-describedby="id_fide"
                                placeholder="Id de FIDE (Opcional)"
                                required
                            />
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"> TB de proyecto </label>
                            <input
                                type="number"
                                class="form-control"
                                name="tb_project"
                                aria-describedby="tb_project"
                                placeholder="TB de proyecto (Opcional)"
                                required
                            />
                        </div>
                    </div>
                    <div style="display: inline-block; margin: 25px">
                        <div class="mb-3">
                            <label for="" class="form-label"> Carga (KW) </label>
                            <input
                                type="text"
                                class="form-control"
                                name="charge"
                                aria-describedby="charge"
                                placeholder="Carga (KW)"
                                required
                            />
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"> Calle </label>
                            <input
                                type="text"
                                class="form-control"
                                name="street"
                                aria-describedby="street"
                                placeholder="Calle"
                                required
                            />
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"> Colonia </label>
                            <input
                                type="text"
                                class="form-control"
                                name="cologne"
                                aria-describedby="cologne"
                                placeholder="Colonia"
                                required
                            />
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"> Municipio </label>
                            <input
                                type="text"
                                class="form-control"
                                name="municipality"
                                aria-describedby="municipality"
                                placeholder="Municipio"
                                required
                            />
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"> Estado </label>
                            <select name="state" id="" class="form-select" required>
                                <option value="" selected disabled>
                                    Seleccione el estado
                                </option>
                                <?php foreach($datos['nombre_estado'] as $key =>
                                $data) : ?>
                                <option value=""><?php echo "{$data->estado}" ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="" class="form-label">
                                Fecha estimada de inicio
                            </label>
                            <input
                                type="date"
                                class="form-control"
                                name="start_date"
                                aria-describedby="start_date"
                                placeholder="Fecha inico de proyecto"
                                required
                            />
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">
                                Ubicación del proyecto
                            </label>
                            <input
                                type="text"
                                class="form-control"
                                name="start_date"
                                aria-describedby="start_date"
                                required
                            />
                        </div>
                    </div>
                    <div class="botones text-center">
                        <button type="submit" class="btn btn-primary" name="add">
                            Agregar Proyecto
                        </button>
                        <button type="submit" class="btn btn-primary" name="update">
                            Actualizar Proyecto
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
