<div class="modal fade" id="mdl_update_proyect" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">PROYECTO</h1>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <input name="id" class="form-control" hidden />
                    <!-- hidden es para ocultar -->
                    <div style="display: inline-block; margin: 8px">
                        <div class="mb-3">
                            <label for="" class="form-label"> Tipo de venta </label>
                            <input
                                type="text"
                                class="form-control"
                                name="folio"
                                aria-describedby="folio"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"> Tipo de proyecto </label>
                            <input
                                type="text"
                                class="form-control"
                                name="tb_project"
                                aria-describedby="tipo"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"> Cliente </label>
                            <input
                                type="text"
                                class="form-control"
                                name="id_client"
                                aria-describedby="id_client"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"> Cotización </label>
                            <input
                                type="text"
                                class="form-control"
                                name="quotation"
                                aria-describedby="quotation"
                            />
                        </div>

                        <div class="mb-3">
                            <label for="" class="form-label"> No. de cotización de proyecto </label>
                            <input
                                type="text"
                                class="form-control"
                                name="quotation_num"
                                aria-describedby="quotation_num"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"> Id de FIDE </label>
                            <input
                                type="number"
                                class="form-control"
                                name="id_fide"
                                aria-describedby="id_fide"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"> TB de proyecto </label>
                            <input
                                type="text"
                                class="form-control"
                                name="tb_project"
                                aria-describedby="tb_project"
                            />
                        </div>
                    </div>
                    <div style="display: inline-block; margin: 25px">
                        <div class="mb-3">
                            <label for="" class="form-label"> Carga (KW) </label>
                            <input
                                type="text"
                                class="form-control"
                                name="charge"
                                aria-describedby="charge"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"> Calle </label>
                            <input
                                type="text"
                                class="form-control"
                                name="street"
                                aria-describedby="street"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"> Colonia </label>
                            <input
                                type="text"
                                class="form-control"
                                name="cologne"
                                aria-describedby="cologne"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"> Municipio </label>
                            <input
                                type="text"
                                class="form-control"
                                name="municipality"
                                aria-describedby="municipality"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"> Estado </label>
                            <input
                                type="text"
                                class="form-control"
                                name="address"
                                aria-describedby="state"
                            />
                        </div>

                        <div class="mb-3">
                            <label for="" class="form-label"> Fecha estimada de inicio </label>
                            <input
                                type="text"
                                class="form-control"
                                name="start_date"
                                aria-describedby="start_date"
                            />
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label"> Ubicación del proyecto </label>
                            <input
                                type="text"
                                class="form-control"
                                name="ubication"
                                aria-describedby="ubication"
                            />
                        </div>
                    </div>
                    <div class="botones text-center">
                        <button type="submit" class="btn btn-primary" name="add">
                            Agregar Proyecto
                        </button>
                        <button
                            type="submit"
                            class="btn btn-primary"
                            name="update"
                            style="background-color: #012130; color: #ffb154"
                        >
                            Actualizar Proyecto
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
