<div class="modal fade" id="mdl_info_visit" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">INFORMACION VISITAS</h1>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <input name="id" class="form-control" />
                    <!-- hidden es para ocultar -->

                    <div class="mb-3">
                        <label for="" class="form-label">Ubicación: </label>
                        <input type="text" id="ubi" name="" hidden />
                    </div>

                    <div class="mb-3">
                        <label for="" class="form-label">Tipo de visita: </label>
                        <input type="text" id="tipo" class="form-label" name="tipo"
                        style="outline: none; border: none" readonly
                        <!-- //para que no se pueda editar -->
                    </div>

                    <div class="mb-3">
                        <label for="" class="form-label"> Razón de visita: </label>
                        <input
                            type=""
                            id="razon"
                            name="razon"
                            style="outline: none; border: none"
                            readonly
                        />
                    </div>

                    <div class="mb-3">
                        <label for="" class="form-label"> Proyecto: </label>
                        <input
                            type="text"
                            id="proyect"
                            class="form-label"
                            name="proyect"
                            style="outline: none; border: none"
                            readonly
                        />
                    </div>

                    <div class="mb-3">
                        <label for="" class="form-label"> Visitante: </label>
                        <input
                            type="text"
                            id="visit"
                            name="visit"
                            readonly
                            style="outline: none; border: none"
                        />
                    </div>

                    <div class="mb-3">
                        <label for="" class="form-label"> Nota: </label>
                        <input
                            type="text"
                            id="nota"
                            name="nota"
                            readonly
                            style="outline: none; border: none"
                        />
                    </div>

                    <div class="botones text-center">
                        <!-- <button
                            type="submit"
                            class="btn btn-primary"
                            name="info-update"
                            readonly
                        >
                            Modificar visita
                        </button> -->
                        <button type="button" class="btn btn-primary" name="add">
                            Finalizar visita
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
