<div class="modal fade" id="mdl_crud_proyect" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">PROYECTO</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form action="" method="post" enctype="multipart/form-data">
                    <!-- nav -->
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button
                                class="nav-link active"
                                id="pills-address-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#pills-address"
                                type="button"
                                role="tab"
                                aria-controls="pills-address"
                                aria-selected="false"
                            >
                                Dirección
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button
                                class="nav-link"
                                id="pills-project-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#pills-project"
                                type="button"
                                role="tab"
                                aria-controls="pills-project"
                                aria-selected="true"
                            >
                                Proyecto
                            </button>
                        </li>
                    </ul>
                    <!-- end nav -->
                    <input name="id" class="form-control" value="0" hidden />
                    <!-- contenido -->
                    <div class="tab-content">
                        <!-- contenido tipo dirección -->
                        <div
                            class="tab-pane fade show active"
                            id="pills-address"
                            role="tabpanel"
                            aria-labelledby="pills-address-tab"
                            tabindex="0"
                        >
                            <!-- input's -->
                            <div class="row gx-3 gy-2 mb-3">
                                <div class="col-md-6 col-lg-3">
                                    <label for="" class="form-label">
                                        Calle
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input
                                        type="text"
                                        name="street"
                                        class="form-control"
                                        aria-describedby="street"
                                        placeholder="Calle"
                                    />
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <label for="" class="form-label">
                                        Colonia
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input
                                        type="text"
                                        name="colony"
                                        class="form-control"
                                        aria-describedby="colony"
                                        placeholder="Colonia"
                                    />
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <label for="" class="form-label">
                                        Municipio
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input
                                        type="text"
                                        name="municipality"
                                        class="form-control"
                                        aria-describedby="municipality"
                                        placeholder="Municipio"
                                    />
                                </div>
                                <div class="col-md-6 col-lg-3">
                                    <label for="" class="form-label">
                                        Estado
                                        <span class="text-danger">*</span>
                                    </label>
                                    <select name="state" id="" class="form-select">
                                        <option value="" data-state="" selected disabled>
                                            Seleccione el estado
                                        </option>
                                        <?php foreach($datos['nombre_estados'] as $key =>$data) : ?>
                                        <option
                                            value="<?= $data->estado; ?>"
                                            data-state="<?= $data->estado; ?>"
                                            data-hsp="<?= $data->promedio; ?>"
                                        >
                                            <?= $data->estado; ?>
                                        </option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <small class="d-block text-center address"></small>
                                </div>
                            </div>
                            <!-- lat y lng -->
                            <div class="row gx-3qk">
                                <div class="col">
                                    <input
                                        type="text"
                                        name="lat"
                                        class="form-control"
                                        placeholder="Latitud"
                                        hidden
                                    />
                                </div>
                                <div class="col">
                                    <input
                                        type="text"
                                        name="lng"
                                        class="form-control"
                                        placeholder="Longitud"
                                        hidden
                                    />
                                </div>
                            </div>
                            <!-- map -->
                            <div class="container-map">
                                <div class="map"></div>
                                <small class="text-danger text-center d-block mt-2">
                                    Mueva el marcador en la ubicación del proyecto
                                </small>
                            </div>
                            <div class="row justify-content-center gx-3 gy-3 gy-md-0 mt-3">
                                <div class="col-md-4 col-lg-3">
                                    <button
                                        type="button"
                                        class="btn btn-sfvi-1 w-100"
                                        onclick="$('#pills-project-tab').tab('show');"
                                    >
                                        Siguiente
                                    </button>
                                </div>
                            </div>
                            <!-- end map -->
                        </div>
                        <!-- contenido del tipo del proyecto -->
                        <div
                            class="tab-pane fade"
                            id="pills-project"
                            role="tabpanel"
                            aria-labelledby="pills-project-tab"
                            tabindex="0"
                        >
                            <!-- input ante -->
                            <div class="row gx-3 gy-2">
                                <div class="col-md-6 col-xd-4 d-none">
                                    <input type="text" name="id_type" class="form-control" value="1" />
                                </div>
                                <div class="col-md-6 col-xl-4">
                                    <label for="" class="form-label">
                                        Tipo de venta
                                        <span class="text-danger">*</span>
                                    </label>
                                    <select name="id_category" id="" class="form-select">
                                        <option value="" selected disabled>
                                            Seleccione el tipo de venta
                                        </option>
                                        <option value="1">FIDE</option>
                                        <option value="2">CONTADO</option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-xl-4">
                                    <label for="" class="form-label">
                                        Tipo de proyecto
                                        <span class="text-danger">*</span>
                                    </label>
                                    <select name="id_subcategory" id="" class="form-select">
                                        <option value="" selected disabled>
                                            Seleccione el tipo de proyecto
                                        </option>
                                        <option value="1">Domestico</option>
                                        <option value="2">Comercial</option>
                                        <option value="3">Indutrial</option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-xl-4">
                                    <label for="" class="form-label">
                                        Cliente
                                        <span class="text-danger">*</span>
                                    </label>
                                    <select
                                        name="id_client"
                                        class="form-select"
                                        placeholder="Nombre de visitante"
                                    >
                                        <option value="" selected disabled>Seleccione el cliente</option>
                                        <?php foreach($datos['nombre_clientes'] as $key =>
                                        $data) : ?>
                                        <option value="<?php echo $data->id; ?>">
                                            <?php echo "{$data->name} {$data->surnames}" ?>
                                        </option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                                <div class="col-md-6 col-xl-4 col-project">
                                    <label for="" class="form-label"> Cotización </label>
                                    <div class="row gx-2">
                                        <div class="col">
                                            <input
                                                type="file"
                                                name="quotation"
                                                class="form-control"
                                                aria-describedby="quotation"
                                                placeholder="Cotización"
                                            />
                                        </div>
                                        <div class="col-2 col-existing-file">
                                            <button
                                                type="button"
                                                name="existing_file"
                                                class="btn btn-primary w-100"
                                                onclick="open_window();"
                                            >
                                                <i class="fa-solid fa-file"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4 col-project">
                                    <label for="" class="form-label">
                                        No. de cotización de proyecto
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input
                                        name="quotation_num"
                                        type="number"
                                        class="form-control"
                                        aria-describedby="quotation_num"
                                        placeholder="No. de cotización de proyecto (Opcional)"
                                    />
                                </div>
                                <div class="col-md-6 col-xl-4 col-project">
                                    <label for="" class="form-label"> ID de FIDE </label>
                                    <input
                                        name="id_fide"
                                        type="number"
                                        class="form-control"
                                        aria-describedby="id_fide"
                                        placeholder="Id de FIDE (Opcional)"
                                    />
                                </div>
                                <div class="col-md-6 col-xl-4">
                                    <div class="row gx-2">
                                        <div class="col-md-4 col-project">
                                            <label for="" class="form-label"> TB </label>
                                            <input
                                                type="text"
                                                name="tb"
                                                class="form-control"
                                                aria-describedby="tb"
                                                placeholder="TB de proyecto (Opcional)"
                                            />
                                        </div>
                                        <div class="col-md">
                                            <label for="" class="form-label">
                                                Nombre
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input
                                                type="text"
                                                name="name"
                                                class="form-control"
                                                aria-describedby="name"
                                                placeholder="Nombre del proyecto"
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xl-4">
                                    <label for="" class="form-label">
                                        Carga (KWh)
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input
                                        type="text"
                                        name="charge"
                                        class="form-control"
                                        aria-describedby="charge"
                                        placeholder="Carga promedio"
                                        step="any"
                                    />
                                </div>
                                <div class="col-md-6 col-xl-4">
                                    <label for="" class="form-label">
                                        Capacidad del modulo
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input
                                        type="number"
                                        name="module_capacity"
                                        class="form-control calc-panels"
                                        aria-describedby="module_capacity"
                                        placeholder="Potencia del panel"
                                    />
                                </div>
                                <div class="col-md-6 col-xl-4">
                                    <label for="" class="form-label">
                                        Eficiencia del panel
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input
                                        type="number"
                                        name="efficiency"
                                        class="form-control calc-panels"
                                        aria-describedby="efficiency"
                                        placeholder="Porcentaje de eficiencia"
                                        min="0"
                                        max="100"
                                    />
                                </div>
                                <div class="col-md-6 col-xl-4">
                                    <label for="" class="form-label">
                                        Num. Paneles
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input
                                        type="text"
                                        name="panels"
                                        class="form-control"
                                        aria-describedby="panels"
                                        placeholder="Num. Paneles"
                                        readonly
                                    />
                                </div>
                                <div class="col-md-6 col-xl-4 col-project">
                                    <label for="" class="form-label">
                                        Fecha de inicio
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input
                                        type="date"
                                        name="start_date"
                                        class="form-control"
                                        aria-describedby="start_date"
                                        placeholder="Num. Paneles"
                                    />
                                </div>
                                <div class="col-md-6 col-xl-4">
                                    <label for="" class="form-label">
                                        Periodo
                                        <span class="text-danger">*</span>
                                    </label>
                                    <select name="period" class="form-control calc-panels">
                                        <option value="30" data-days="30">Mensual</option>
                                        <option value="59" data-days="59" selected>Bimestral</option>
                                    </select>
                                </div>
                            </div>

                            <!-- input ante -->
                            <!-- end input's -->
                            <div class="row justify-content-center gx-3 mt-3">
                                <div class="col-md-6 col-lg-3">
                                    <button
                                        type="button"
                                        class="btn btn-sfvi-1 w-100"
                                        onclick="$('#pills-address-tab').tab('show');"
                                    >
                                        Anterior
                                    </button>
                                </div>
                                <div class="col-md-4 col-lg-3">
                                    <button
                                        type="submit"
                                        name="createAnteProject"
                                        class="btn btn-sfvi-1 w-100"
                                    >
                                        Añadir AnteProyecto
                                    </button>
                                    <button
                                        type="submit"
                                        name="updateAnteProject"
                                        class="btn btn-sfvi-1 w-100"
                                    >
                                        Actualizar AnteProyecto
                                    </button>
                                    <button
                                        type="submit"
                                        name="createProject"
                                        class="btn btn-sfvi-1 w-100"
                                    >
                                        Crear Proyecto
                                    </button>
                                    <button
                                        type="submit"
                                        name="updateProject"
                                        class="btn btn-sfvi-1 w-100"
                                    >
                                        Actualizar Proyecto
                                    </button>
                                </div>
                            </div>
                            <!-- end -->
                        </div>
                    </div>
                    <!-- end contenido -->
                </form>
            </div>
        </div>
    </div>
</div>
