<div class="modal fade" id="mdl_crud_client" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">CLIENTE</h1>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <input name="id" class="form-control" hidden />
                    <!-- hidden es para ocultar -->
                    <div class="mb-3">
                        <label for="" class="form-label"> Tipo de cliente </label>
                        <select name="tipo" id="" class="form-select" required>
                            <option value="1">Domestico</option>
                            <option value="3">Comercial</option>
                            <option value="4">Indutrial</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="" class="form-label"> Nombre </label>
                        <input
                            type="text"
                            class="form-control"
                            name="name"
                            aria-describedby="name"
                            placeholder="Nombre"
                            required
                        />
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label"> Apellidos </label>
                        <input
                            type="text"
                            class="form-control"
                            name="surnames"
                            aria-describedby="surnames"
                            placeholder="Apellidos"
                            required
                        />
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label"> Estado </label>
                        <input
                            type="text"
                            class="form-control"
                            name="state"
                            aria-describedby="state"
                            placeholder="Estado"
                            required
                        />
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label"> Municipio </label>
                        <input
                            type="text"
                            class="form-control"
                            name="municipality"
                            aria-describedby="municipality"
                            placeholder="Municipio"
                            required
                        />
                    </div>

                    <div class="mb-3">
                        <label for="" class="form-label"> Correo Electrónico </label>
                        <input
                            type="email"
                            class="form-control"
                            name="email"
                            aria-describedby="email"
                            placeholder=" Correo Electrónico (Opcional)"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label"> Telefono </label>
                        <input
                            type="tel"
                            class="form-control"
                            name="phone"
                            aria-describedby="phone"
                            placeholder="Teléfono (Opcional)"
                            minlength="10"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label"> RFC </label>
                        <input
                            type="text"
                            class="form-control"
                            name="rfc"
                            aria-describedby="rfc"
                            placeholder="RFC (Opcional)"
                            minlength="13"
                        />
                    </div>

                    <div class="botones text-center">
                        <button type="submit" class="btn btn-primary" name="add">
                            Agregar Cliente
                        </button>
                        <button type="submit" class="btn btn-primary" name="update">
                            Actualizar Cliente
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
