<div class="modal fade" id="mdl_crud_proyect" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">PROYECTO</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <input name="id" class="form-control" hidden />
                    <div class="row gx-3 gy-2">
                        <div class="col-md-6 col-xl-4">
                            <label for="" class="form-label"> Tipo de venta </label>
                            <select name="" id="" class="form-select" required>
                                <option value="" selected disabled>
                                    Seleccione el tipo de venta
                                </option>
                                <option value="1">Domestico</option>
                                <option value="3">Comercial</option>
                                <option value="4">Indutrial</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <label for="" class="form-label"> Tipo de proyecto </label>
                            <select name="tipo" id="" class="form-select" required>
                                <option value="" selected disabled>
                                    Seleccione el tipo de proyecto
                                </option>
                                <option value="1">Domestico</option>
                                <option value="3">Comercial</option>
                                <option value="4">Indutrial</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <label for="" class="form-label"> Cliente </label>
                            <select
                                name="id_client"
                                class="form-select"
                                placeholder="Nombre de visitante"
                                required
                            >
                                <option value="" selected disabled>
                                    Seleccione el cliente
                                </option>
                                <?php foreach($datos['nombre_clientes'] as $key =>
                                $data) : ?>
                                <option value="<?php echo $data->id; ?>">
                                    <?php echo "{$data->name} {$data->surnames}" ?>
                                </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <label for="" class="form-label"> Cotización </label>
                            <input
                                type="text"
                                name="quotation"
                                class="form-control"
                                aria-describedby="quotation"
                                placeholder="Cotización"
                                required
                            />
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <label for="" class="form-label">
                                No. de cotización de proyecto
                            </label>
                            <input
                                name="quotation_num"
                                type="number"
                                class="form-control"
                                aria-describedby="quotation_num"
                                placeholder="No. de cotización de proyecto (Opcional)"
                                required
                            />
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <label for="" class="form-label"> Id de FIDE </label>
                            <input
                                name="id_fide"
                                type="number"
                                class="form-control"
                                aria-describedby="id_fide"
                                placeholder="Id de FIDE (Opcional)"
                                required
                            />
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <label for="" class="form-label"> TB de proyecto </label>
                            <input
                                type="text"
                                name="folio"
                                class="form-control"
                                aria-describedby="folio"
                                placeholder="TB de proyecto (Opcional)"
                                required
                            />
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <label for="" class="form-label"> Carga (KW) </label>
                            <input
                                type="text"
                                name="charge"
                                class="form-control"
                                aria-describedby="charge"
                                placeholder="Carga (KW)"
                                required
                            />
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <label for="" class="form-label"> Calle </label>
                            <input
                                type="text"
                                name="street"
                                class="form-control"
                                aria-describedby="street"
                                placeholder="Calle"
                                required
                            />
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <label for="" class="form-label"> Colonia </label>
                            <input
                                type="text"
                                name="colony"
                                class="form-control"
                                aria-describedby="colony"
                                placeholder="Colonia"
                                required
                            />
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <label for="" class="form-label"> Municipio </label>
                            <input
                                type="text"
                                name="municipality"
                                class="form-control"
                                aria-describedby="municipality"
                                placeholder="Municipio"
                                required
                            />
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <label for="" class="form-label"> Estado </label>
                            <select name="state" id="" class="form-select" required>
                                <option value="" data-state="" selected disabled>
                                    Seleccione el estado
                                </option>
                                <?php foreach($datos['nombre_estados'] as $key =>$data) :
                                ?>
                                <option
                                    value="<?php echo $data->estado; ?>"
                                    data-state="<?php echo $data->estado; ?>"
                                >
                                    <?php echo $data->estado; ?>
                                </option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                        <div class="col-md-6 col-xl-4">
                            <label for="" class="form-label">
                                Fecha estimada de inicio
                            </label>
                            <input
                                type="date"
                                name="start_date"
                                class="form-control"
                                aria-describedby="start_date"
                                placeholder="Fecha inico de proyecto"
                                required
                            />
                        </div>
                        <div class="col-md col-xl-8">
                            <label for="" class="form-label">
                                Ubicación del proyecto
                            </label>
                            <div class="row gx-2">
                                <div class="col">
                                    <input
                                        type="text"
                                        name="lat"
                                        class="form-control"
                                        placeholder="Latitud"
                                        hidden
                                    />
                                </div>
                                <div class="col">
                                    <input
                                        type="text"
                                        name="lng"
                                        class="form-control"
                                        placeholder="Longitud"
                                        hidden
                                    />
                                </div>
                            </div>
                            <div class="container-map">
                                <div class="map"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="botones text-center mt-3">
                        <button type="submit" class="btn btn-primary" name="add">
                            Agregar Proyecto
                        </button>
                        <button type="submit" class="btn btn-primary" name="update">
                            Actualizar Proyecto
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
