<div class="modal fade" id="mdl_info_stages" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">INFORMACIÓN DEL PROYECTO</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <!-- form -->
                <form action="" class="form" onsubmit="return false;">
                    <!-- navegación -->
                    <ul class="nav nav-underline nav-justified">
                        <li class="nav-item">
                            <button
                                class="nav-link active"
                                id="project1"
                                data-bs-toggle="tab"
                                data-bs-target="#project_1"
                                type="button"
                                role="tab"
                                aria-controls="modal"
                                aria-selected="true"
                            >
                                Proyecto
                            </button>
                        </li>
                        <li class="nav-item">
                            <button
                                class="nav-link cliente"
                                id="client1"
                                data-bs-toggle="tab"
                                data-bs-target="#client_1"
                                type="button"
                                role="tab"
                                aria-controls="modal"
                                aria-selected="true"
                            >
                                Cliente
                            </button>
                        </li>
                        <li class="nav-item">
                            <button
                                class="nav-link"
                                id="map1"
                                data-bs-toggle="tab"
                                data-bs-target="#map_1"
                                type="button"
                                role="tab"
                                aria-controls="modal"
                                aria-selected="true"
                            >
                                Mapa
                            </button>
                        </li>
                    </ul>
                    <!-- contenido -->
                    <div class="tab-content mt-3">
                        <!-- proyecto -->
                        <div
                            class="tab-pane fade show active"
                            id="project_1"
                            role="tabpanel"
                            aria-labelledby="project1"
                        >
                            <div class="row gx-md-2 gx-lg-5">
                                <div class="col-md-4 d-none">
                                    <input
                                        type="hidden"
                                        name="id_project"
                                        value="<?= $datos['proyecto']->id ?>"
                                    />
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold">
                                            Tipo de venta:
                                        </label>
                                        <div class="col-7 col-lg-6">
                                            <input
                                                type="text"
                                                name="str_category"
                                                class="form-control-plaintext text-truncate"
                                                value="<?= $datos['proyecto']->str_category ?>"
                                                readonly
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold">
                                            Tipo de proyecto:
                                        </label>
                                        <div class="col-7 col-lg-6">
                                            <input
                                                type="text"
                                                class="form-control-plaintext text-truncate"
                                                value="<?= $datos['proyecto']->str_subcategory ?>"
                                                readonly
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold">
                                            Usuario:
                                        </label>
                                        <div class="col-7 col-md-6">
                                            <input
                                                type="text"
                                                class="form-control-plaintext text-truncate"
                                                value="<?= $datos['proyecto']->id_user ?>"
                                                readonly
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold">
                                            No. de cotización:
                                        </label>
                                        <div class="col-7 col-lg-6">
                                            <input
                                                type="text"
                                                class="form-control-plaintext"
                                                value="<?= $datos['proyecto']->quotation_num ?>"
                                                readonly
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col-md col-form-label fw-bold">
                                            ID FIDE:
                                        </label>
                                        <div class="col-7 col-lg-6">
                                            <input
                                                type="text"
                                                class="form-control-plaintext text-truncate"
                                                value="<?= $datos['proyecto']->id_fide ?>"
                                                readonly
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold"> TB: </label>
                                        <div class="col-7 col-lg-6">
                                            <input
                                                type="text"
                                                class="form-control-plaintext"
                                                value="<?= $datos['proyecto']->tb ?>"
                                                readonly
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold">
                                            Nombre proyecto:
                                        </label>
                                        <div class="col-7 col-lg-6">
                                            <input
                                                type="text"
                                                name="project_name"
                                                class="form-control-plaintext text-truncate"
                                                value="<?= $datos['proyecto']->name ?>"
                                                readonly
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold">
                                            Carga (KW):
                                        </label>
                                        <div class="col-7 col-lg-6">
                                            <input
                                                type="text"
                                                class="form-control-plaintext"
                                                value="<?= $datos['proyecto']->charge ?>"
                                                readonly
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold"> Calle: </label>
                                        <div class="col-7 col-lg-6">
                                            <input
                                                type="text"
                                                class="form-control-plaintext text-truncate"
                                                value="<?= $datos['proyecto']->street ?>"
                                                readonly
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold">
                                            Colonia:
                                        </label>
                                        <div class="col-7 col-lg-6">
                                            <input
                                                type="text"
                                                class="form-control-plaintext text-truncate"
                                                value="<?= $datos['proyecto']->colony ?>"
                                                readonly
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold">
                                            Municipio:
                                        </label>
                                        <div class="col-7 col-lg-6">
                                            <input
                                                type="text"
                                                class="form-control-plaintext text-truncate"
                                                value="<?= $datos['proyecto']->municipality ?>"
                                                readonly
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold">
                                            Estado:
                                        </label>
                                        <div class="col-7 col-md-6">
                                            <input
                                                type="text"
                                                class="form-control-plaintext text-truncate"
                                                value="<?= $datos['proyecto']->state ?>"
                                                readonly
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold">
                                            Fecha Inicio:
                                        </label>
                                        <div class="col-7 col-md-6">
                                            <?php if (isset($datos["proyecto"]->start_date) &&
                                            $datos["proyecto"]->start_date !== null): ?>
                                            <?php 
                                            $fechaFormateada = date("Y-m-d", strtotime( $datos["proyecto"]->start_date
                                            )); ?>
                                            <input
                                                type="date"
                                                class="form-control-plaintext text-truncate"
                                                value="<?= $fechaFormateada; ?>"
                                                readonly
                                            />
                                            <?php else: ?>
                                            <input
                                                type="date"
                                                class="form-control-plaintext text-truncate"
                                                readonly
                                            />
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold">
                                            Fecha Estimada:
                                        </label>
                                        <div class="col-7 col-md-6">
                                            <?php if (isset($datos["proyecto"]->end_date) &&
                                            $datos["proyecto"]->end_date !== null): ?>
                                            <?php 
                                            $fechaFormateada = date("Y-m-d", strtotime( $datos["proyecto"]->end_date
                                            )); ?>
                                            <input
                                                type="date"
                                                class="form-control-plaintext text-truncate"
                                                value="<?= $fechaFormateada; ?>"
                                                readonly
                                            />
                                            <?php else: ?>
                                            <input
                                                type="date"
                                                class="form-control-plaintext text-truncate"
                                                readonly
                                            />
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold">
                                            Estatus:
                                        </label>
                                        <div class="col-7 col-md-6">
                                            <input
                                                type="text"
                                                class="form-control-plaintext text-truncate"
                                                value="<?= $datos['proyecto']->status ?>"
                                                readonly
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold">
                                            Porcentaje de avance:
                                        </label>
                                        <div class="col-7 col-md-6">
                                            <div class="d-flex align-items-center h-100">
                                                <div class="w-100">
                                                    <div class="progress progreso-global">
                                                        <div
                                                            class="progress-bar progress-bar-striped progress-bar-animated"
                                                            role="progressbar"
                                                            aria-label="Example with label"
                                                            style="width: 0%"
                                                            aria-valuenow="0"
                                                            aria-valuemin="0"
                                                            aria-valuemax="100"
                                                        >
                                                            0%
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold">
                                            No. Paneles:
                                        </label>
                                        <div class="col-7 col-md-6">
                                            <input
                                                type="text"
                                                class="form-control-plaintext text-truncate"
                                                value="<?= $datos['proyecto']->panels ?>"
                                                readonly
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold">
                                            Capacidad del modulo:
                                        </label>
                                        <div class="col-7 col-md-6">
                                            <input
                                                type="text"
                                                class="form-control-plaintext text-truncate"
                                                value="<?= $datos['proyecto']->module_capacity ?>"
                                                readonly
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold">
                                            Eficiencia:
                                        </label>
                                        <div class="col-7 col-md-6">
                                            <input
                                                type="text"
                                                class="form-control-plaintext text-truncate"
                                                value="<?= $datos['proyecto']->efficiency ?>"
                                                readonly
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- cliente -->
                        <div
                            class="tab-pane fade cliente"
                            id="client_1"
                            role="tabpanel"
                            aria-labelledby="client1"
                        >
                            <div class="row gx-lg-5">
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold">
                                            Tipo de cliente:
                                        </label>
                                        <div class="col-7 col-md-7">
                                            <input
                                                type="text"
                                                class="form-control-plaintext text-truncate"
                                                value="<?= $datos['cliente']->str_type_of_client; ?>"
                                                readonly
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold">
                                            Nombre:
                                        </label>
                                        <div class="col-7 col-md-8">
                                            <input
                                                type="text"
                                                class="form-control-plaintext text-truncate"
                                                value="<?= $datos['cliente']->name; ?>"
                                                readonly
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold">
                                            Apellidos:
                                        </label>
                                        <div class="col-7 col-md-8">
                                            <input
                                                type="text"
                                                class="form-control-plaintext text-truncate"
                                                value="<?= $datos['cliente']->surnames; ?>"
                                                readonly
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold"> email: </label>
                                        <div class="col-7 col-md-8">
                                            <input
                                                type="text"
                                                class="form-control-plaintext text-truncate"
                                                value="<?= $datos['cliente']->email; ?>"
                                                readonly
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold">
                                            telefono:
                                        </label>
                                        <div class="col-7 col-md-8">
                                            <input
                                                type="text"
                                                class="form-control-plaintext text-truncate"
                                                value="<?= $datos['cliente']->phone; ?>"
                                                readonly
                                            />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="row mb-2">
                                        <label for="" class="col col-form-label fw-bold"> RFC: </label>
                                        <div class="col-7 col-md-8">
                                            <input
                                                type="text"
                                                class="form-control-plaintext text-truncate"
                                                value="<?= $datos['cliente']->rfc; ?>"
                                                readonly
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- mapa -->
                        <div class="tab-pane fade" id="map_1" role="tabpanel" aria-labelledby="client1">
                            <p>Ubicación del proyecto:</p>
                            <div class="container-map">
                                <div class="map"></div>
                            </div>
                        </div>
                        <!-- end -->
                    </div>
                </form>
                <!-- end form -->
            </div>
        </div>
    </div>
</div>
