<div
    class="modal"
    id="mdl_description_equipment"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h1 class="modal-title fs-5">Descripción</h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="idEquipo" />
                <div class="row g-3">
                    <div class="form-group">
                        <textarea
                            style="min-height: 200px"
                            name="description"
                            class="form-control-plaintext"
                            readonly
                        ></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Regresar</button>
            </div>
        </form>
    </div>
</div>
