<div class="modal fade" id="mdl_info_visit" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">INFORMACION VISITAS</h1>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <input name="id" class="form-control" hidden />
                    <div class="mb-3">
                        <div class="container-map">
                            <div class="map"></div>
                        </div>
                    </div>
                    <div class="row gy-0 gx-2">
                        <div class="col-12 col-sm">
                            <input
                                type="text"
                                name="lat"
                                placeholder="lat"
                                class="form-control"
                                hidden
                            />
                        </div>
                        <div class="col-12 col-sm">
                            <input
                                type="text"
                                name="lng"
                                placeholder="lng"
                                class="form-control"
                                hidden
                            />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="" class="col-form-label col-sm">
                            Tipo de visita:
                        </label>
                        <div class="col-sm-9">
                            <input
                                type="text"
                                name="type"
                                class="form-control-plaintext"
                                readonly
                            />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="" class="col-form-label col-sm">
                            Razón de visita:
                        </label>
                        <div class="col-sm-9">
                            <input
                                type="text"
                                name="razon"
                                class="form-control-plaintext"
                                readonly
                            />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="" class="col-form-label col-sm"> Proyecto: </label>
                        <div class="col-sm-9">
                            <input
                                type="text"
                                name="proyect"
                                class="form-control-plaintext"
                                readonly
                            />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="" class="col-form-label col-sm"> Visitante: </label>
                        <div class="col-sm-9">
                            <input
                                type="text"
                                name="visit"
                                class="form-control-plaintext"
                                readonly
                            />
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="" class="col-form-label col-sm"> Nota: </label>
                        <div class="col-sm-9">
                            <input
                                type="text"
                                name="nota"
                                class="form-control-plaintext"
                                readonly
                            />
                        </div>
                    </div>
                    <div class="botones text-center">
                        <button type="button" class="btn btn-primary" name="add">
                            Finalizar visita
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
