<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>mail</title>
    </head>
    <body style="{bg-light}">
        <center>
            <div style="{mx-auto} max-width:720px;" width="720" align="center">
                <div style="{card}">
                    <div style="{card-header} {bg-sfvi} {py-3}">
                        <center>
                            <img src="cid:logo" alt="Imagen Incrustada" width="250" />
                        </center>
                    </div>
                    <div style="{card-body} {bg-white}">
                        <center>Recuperar Contraseña</center>
                        <p style="{card-text}">Hola Usuario</p>
                        <p style="{card-text}">
                            Le hemos enviado este correo electrónico en respuesta a su
                            solicitud para restablecer su contraseña en el nombre de la
                            empresa.
                        </p>
                        <p style="{card-text}">
                            Para restablecer su contraseña, siga el siguiente enlace:
                        </p>
                        <a href="https://www.youtube.com/" style="{btn}">
                            Restablecer contraseña
                        </a>
                        <p style="{card-text}">
                            Si usted no solicito un cambio de contraseña ingore este
                            correo.
                        </p>
                    </div>
                    <div align="center" style="{card-footer} {bg-sfvi} {text-white}">
                        TENERGY MX
                    </div>
                </div>
            </div>
        </center>
    </body>
</html>
