<style>
    .step-wizard-list {
        color: #333;
        list-style-type: none;
        border-radius: 10px;
        display: flex;
        position: relative;
        z-index: 10;
    }

    .step-wizard-item {
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        min-width: 80px;
        position: relative;
    }
    .step-wizard-item + .step-wizard-item:after {
        content: "";
        position: absolute;
        left: 0;
        top: 19px;
        background: #21d4fd;
        width: 100%;
        height: 2px;
        transform: translateX(-50%);
        z-index: -10;
    }
    .progress-count {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-weight: 600;
        margin: 0 auto;
        position: relative;
        z-index: 10;
        color: transparent;
    }
    .progress-count:after {
        content: "";
        height: 40px;
        width: 40px;
        background: #21d4fd;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: -10;
    }
    .progress-count:before {
        content: "";
        height: 10px;
        width: 20px;
        border-left: 3px solid #fff;
        border-bottom: 3px solid #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -60%) rotate(-45deg);
        transform-origin: center center;
    }
    .current-item .progress-count:before,
    .current-item ~ .step-wizard-item .progress-count:before {
        display: none;
    }
    .current-item ~ .step-wizard-item .progress-count:after {
        height: 10px;
        width: 10px;
    }
    .current-item ~ .step-wizard-item .progress-label {
        opacity: 0.5;
    }
    .current-item .progress-count:after {
        background: #fff;
        border: 2px solid #21d4fd;
    }
    .current-item .progress-count {
        color: #21d4fd;
    }
    .luis ::-webkit-scrollbar-horizontal {
        display: none;
    }
</style>
<form action="">
    <div class="row">
        <div class="col-sm">
            <input type="hidden" name="id" value="1" />
        </div>
        <div class="col-sm">
            <input type="hidden" name="folio" value="ulices-kun" />
        </div>
    </div>
</form>
<div class="card">
    <div class="card-body">
        <div class="table-responsive luis">
            <!-- x -->
            <ul class="nav nav-pills flex-nowrap step-wizard-list">
                <li class="nav-item step-wizard-item">
                    <span class="progress-count">1</span>
                    <span
                        class="progress-label"
                        id="pills-contado-etapa-1-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#pills-contado-etapa-1"
                        type="button"
                        role="tab"
                        aria-controls="pills-contado-etapa-1"
                        aria-selected="true"
                    >
                        Cotización
                    </span>
                </li>
                <li class="nav-item step-wizard-item">
                    <span class="progress-count">2</span>
                    <span
                        class="progress-label"
                        id="pills-contado-etapa-2-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#pills-contado-etapa-2"
                        type="button"
                        role="tab"
                        aria-controls="pills-contado-etapa-2"
                        aria-selected="false"
                    >
                        Aceptación de cotización
                    </span>
                </li>
                <li class="nav-item step-wizard-item">
                    <span class="progress-count">3</span>
                    <span
                        class="progress-label"
                        id="pills-contado-etapa-3-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#pills-contado-etapa-3"
                        type="button"
                        role="tab"
                        aria-controls="pills-contado-etapa-3"
                        aria-selected="false"
                    >
                        Suministros de materiales e ingeniería
                    </span>
                </li>
                <li class="nav-item step-wizard-item">
                    <span class="progress-count">4</span>
                    <span
                        class="progress-label"
                        id="pills-contado-etapa-4-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#pills-contado-etapa-4"
                        type="button"
                        role="tab"
                        aria-controls="pills-contado-etapa-4"
                        aria-selected="false"
                    >
                        Instalación SFV
                    </span>
                </li>
                <li class="nav-item step-wizard-item">
                    <span class="progress-count">5</span>
                    <span
                        class="progress-label"
                        id="pills-contado-etapa-5-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#pills-contado-etapa-5"
                        type="button"
                        role="tab"
                        aria-controls="pills-contado-etapa-5"
                        aria-selected="false"
                    >
                        Instalación medidor CFE
                    </span>
                </li>
                <li class="nav-item step-wizard-item">
                    <span class="progress-count">6</span>
                    <span
                        class="progress-label"
                        id="pills-contado-etapa-6-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#pills-contado-etapa-6"
                        type="button"
                        role="tab"
                        aria-controls="pills-contado-etapa-6"
                        aria-selected="false"
                    >
                        Entrega de proyecto
                    </span>
                </li>
            </ul>
            <!-- x -->
        </div>

        <!-- contenido -->
        <div class="tab-content pt-4">
            <div
                class="tab-pane fade"
                id="pills-contado-etapa-1"
                role="tabpanel"
                aria-labelledby="pills-contado-etapa-1-tab"
                tabindex="0"
            >
                <h3 class="text-center mb-4">Cotización</h3>
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-9">
                        <div class="accordion">
                            <!-- Etapa 1 : Recibo CFE -->
                            <div class="accordion-item">
                                <h2 class="accordion-header position-relative">
                                    <button
                                        class="accordion-button"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapse-Etapa_1__recibo_cfe"
                                        aria-expanded="false"
                                        aria-controls="collapse-Etapa_1__recibo_cfe"
                                    >
                                        1. Recibo CFE
                                    </button>
                                    <?php if (isset($datos["stage"][0]->recibo_CFE) ): ?>
                                    <div class="icon-checkbox checked">
                                        <i class="fa-solid fa-file-circle-check"></i>
                                    </div>
                                    <?php else : ?>
                                    <div class="icon-checkbox">
                                        <i class="fa-solid fa-file-circle-check"></i>
                                    </div>
                                    <?php endif; ?>
                                </h2>
                                <div
                                    id="collapse-Etapa_1__recibo_cfe"
                                    class="accordion-collapse collapse"
                                >
                                    <div class="accordion-body">
                                        <form
                                            action=""
                                            method="post"
                                            name="form_etapa_1__recibo_cfe"
                                            class="form-project-stages"
                                        >
                                            <div class="row gx-2">
                                                <div class="col-md">
                                                    <input
                                                        class="form-control"
                                                        type="file"
                                                        name="recibo_CFE"
                                                    />
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="row gx-2">
                                                        <?php if (isset($datos["stage"][0]->recibo_CFE)
                                                        ): ?>
                                                        <div class="col col-download">
                                                            <?php
                                                                $id = $datos['proyecto']->id;
                                                            $file =
                                                            $datos["stage"][0]->recibo_CFE;
                                                            $file = basename($file); ?>
                                                            <button
                                                                type="button"
                                                                class="btn btn-success w-100 download"
                                                                title="Descargar"
                                                                onclick="open_window('<?= RUTA_URL ?>File/getProjectFile/<?= $id ?>/<?= $file ?>')"
                                                            >
                                                                <i
                                                                    class="fa-solid fa-down-to-line"
                                                                ></i>
                                                            </button>
                                                        </div>
                                                        <?php else : ?>
                                                        <div
                                                            class="col col-download"
                                                            style="display: none"
                                                        >
                                                            <button
                                                                type="button"
                                                                class="btn btn-success w-100 download"
                                                                title="Descargar"
                                                            >
                                                                <i
                                                                    class="fa-solid fa-down-to-line"
                                                                ></i>
                                                            </button>
                                                        </div>
                                                        <?php endif; ?>
                                                        <div class="col">
                                                            <button
                                                                type="submit"
                                                                class="btn btn-primary w-100"
                                                                title="Guardar"
                                                            >
                                                                <i
                                                                    class="fa-solid fa-floppy-disk"
                                                                ></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Etapa 1 : Cotización -->
                            <div class="accordion-item">
                                <h2 class="accordion-header position-relative">
                                    <button
                                        class="accordion-button"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapse-Etapa_1__cotizacion"
                                        aria-expanded="false"
                                        aria-controls="collapse-Etapa_1__cotizacion"
                                    >
                                        2. Cotización
                                    </button>
                                    <div class="icon-checkbox">
                                        <i class="fa-solid fa-file-circle-check"></i>
                                    </div>
                                </h2>
                                <div
                                    id="collapse-Etapa_1__cotizacion"
                                    class="accordion-collapse collapse"
                                >
                                    <div class="accordion-body">
                                        <form
                                            action=""
                                            method="post"
                                            name="form_etapa_1__cotizacion"
                                            class="form-project-stages"
                                        >
                                            <div class="row gx-2">
                                                <div class="col-md">
                                                    <input
                                                        class="form-control"
                                                        type="file"
                                                        name="cotizacion"
                                                    />
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="row gx-2">
                                                        <div
                                                            class="col col-download"
                                                            style="display: none"
                                                        >
                                                            <button
                                                                type="button"
                                                                class="btn btn-success w-100 download"
                                                                title="Descargar"
                                                            >
                                                                <i
                                                                    class="fa-solid fa-down-to-line"
                                                                ></i>
                                                            </button>
                                                        </div>
                                                        <div class="col">
                                                            <button
                                                                type="submit"
                                                                class="btn btn-primary w-100"
                                                                title="Guardar"
                                                            >
                                                                <i
                                                                    class="fa-solid fa-floppy-disk"
                                                                ></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- end -->
                        </div>
                        <!-- end acordion -->
                    </div>
                </div>
            </div>
            <div
                class="tab-pane fade"
                id="pills-contado-etapa-2"
                role="tabpanel"
                aria-labelledby="pills-contado-etapa-2-tab"
                tabindex="0"
            >
                Etapa 2
            </div>
            <div
                class="tab-pane fade"
                id="pills-contado-etapa-3"
                role="tabpanel"
                aria-labelledby="pills-contado-etapa-3-tab"
                tabindex="0"
            >
                Etapa 3
            </div>
            <div
                class="tab-pane fade"
                id="pills-contado-etapa-4"
                role="tabpanel"
                aria-labelledby="pills-contado-etapa-4-tab"
                tabindex="0"
            >
                Etapa 4
            </div>
            <div
                class="tab-pane fade"
                id="pills-contado-etapa-5"
                role="tabpanel"
                aria-labelledby="pills-contado-etapa-5-tab"
                tabindex="0"
            >
                Etapa 5
            </div>
            <div
                class="tab-pane fade"
                id="pills-contado-etapa-6"
                role="tabpanel"
                aria-labelledby="pills-contado-etapa-6-tab"
                tabindex="0"
            >
                Etapa 6
            </div>
        </div>
        <!-- x1 -->
    </div>
</div>
